{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blogs</title>
        <link rel="stylesheet" href="{% static 'blog_app/css/style.css' %}">
        <script src="{% static 'blog_app/js/script.js' %}" ></script>
    </head>
    <body>
        <div id="header" style="display:flex">
            <a style="width: 90%;" href="{% url 'posts' %}"><h1 id="logo">Blogs</h1></a>
            <div style="display: flex; justify-content: space-evenly;">
                {% if user.is_authenticated %}
                    <p class="navbar-item">{{ user.get_username }}</p>
                    <a class="navbar-item" href="{% url 'logout' %}?next={{ request.path }}"><p>Logout</p></a>
                {% else %}
                    <a class="navbar-item" href="{% url 'login' %}?next={{ request.path }}"><p>Login</p></a>
                {% endif %}
                {% if perms.blog_app.add_post %}
                    <a class="navbar-item" href="{% url 'add_post' %}"><p>Add post</p></a>
                {% endif %}
            </div>
        </div>
        <div id="content">

            {% block content %}
            {% endblock content %}

        </div>
        <div id="footer">
            <p>powered by Django</p>
        </div>
    </body>
</html>