{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="about"><h3>Преимущества магазина ЗооМир:</h3>
        <ul class="about-list">
            <li><i class="fa-solid fa-paw"></i> Товары мировых брендов</li>
            <li><i class="fa-solid fa-paw"></i> Высокое качество обслуживания</li>
            <li><i class="fa-solid fa-paw"></i> Широкий ассортимент товаров для животных</li>
            <li><i class="fa-solid fa-paw"></i> Приятные цены</li>
        </ul> 
    </div>
{% endblock %} 