{% extends "base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block content %}
    <div class="cart-name"><h1>Ваша корзина</h1></div>
    <div><table class="cart">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Цена за единицу</th>
            <th>Стоимость товара</th>
            
        </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td class="num">{{ item.price }} руб.</td>
                        <td class="num">{{ item.total_price }} руб.</td>
                        <td class="del"><a href="{% url 'cart_remove' product.id %}"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>ИТОГО</td>
                <td colspan="2"></td>
                <td class="num">{{ cart.total_sum }} руб.</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="continue"><a href="{% url 'products' %}">Продолжить покупки</a></div>
{% endblock %}
