{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Register
{% endblock title %}

{% block container %}
<div class="page">
<div class="card mx-auto my-5" style="width: 30rem;">
        <form class="form-control" action="{% url 'register' %}">
            {% csrf_token %}
            {% for field in user_form %}
<div class="mb-3 my-3 mx-3">
    <div class="col-12 col-lg-6 col-md-4 offset-md-4">
        <div class="quote-form-wrapper">
            <span style="color: red">{{ field.errors }}</span>
            {{ field.label_tag}}
            {{ field }}
        </div>
    </div>
</div>
{% endfor %}

       
            <button type="submit" class="btn btn-primary col-12 col-lg-3 offset-md-4">Submit</button>
        </form>
</div>
</div>

{% endblock container %}